* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  user-select: none;
}
body {
  background-color: #303030;
}
.cardMain {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.mainHeading {
  color: #dddddd;
  margin: 40px 0;
  padding-left: 20px;
}
.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
